@import '../../../sassStyles/main.scss';

.input-wrapper {
    width: 350px;
    height: 40px;
    @include flex(row, space-evenly, true);

}

.category-title {
    font-weight: bolder;
    width: 30%;
}

.input-category-input {
    width: 70%;
    @include flex(row, space-around, true);

}

.input-current,
.input-console {
    width: 60%;
    overflow: auto;
}