@import '../../../sassStyles/main.scss';

.input-wrapper {
    width: 95vw;
    height: 2.5rem;
    @include flex(row, space-evenly, true);
}

.category-title {
    font-weight: bolder;
    width: 20%;
    text-transform: uppercase;
}

.input-category-input {
    width: 70%;
    height: 1rem;
    @include flex(row, space-around, true);
}

.input-console {
    width: 70%;
    height: 1.25rem;
    overflow: hidden;
}