@import '../../../sassStyles/main.scss';

.input-wrapper {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
}

.category-title {
    width: 30%;
}

.input-category-current {
    width: 100px;
    display: flex;
}

.input-current {
    width: 150px;
}

.input-console {
    width: 40%;
}

.input-category-input {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submit-input {
    margin-left: 5px;
    height: 20px;
    width: 30%;
}