.saved-roll-line-item-wrapper {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    margin-bottom: 10px;
}

.saved-roll-line-item-data {
    width: 30%;
}

.saved-roll-line-item-wrapper:hover {
    background: grey;
    cursor: pointer;
}

