@import '../../../sassStyles/main.scss';

.open-content {
    overflow: auto;
    height: 50%;
    width: 90%;
}

.saved-rolls-list {
    width: 100%;
    height: 100%;
}

.saved-roll-line-item-wrapper {
    @include flex(row, space-evenly, false);
    margin-top: 10px;
    padding: 5px;
}

.saved-roll-line-item-data {
    width: 50%;
}

.saved-roll-line-item-wrapper:hover {
    font-weight: bolder;
    cursor: pointer;
}

.saved-roll-warning-wrapper {
    width: 100%;
    @include flex(row, center, false);
    margin-top: 10%;

}