@import '../../../sassStyles/main.scss';

.login-content {
    height: 60%;
}

.login-input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
}

.bottom-prompt {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.bottom-prompt-link {
    margin-left: .15em;
    text-decoration: underline;
    cursor: pointer;
    color: $backgroundColorSecondary;
    font-weight: bold;
}