@import '../../../sassStyles/main.scss';

.roll-name-input {
    margin-top: 10px;
    width: 250px;
}

.login-button {
    width: 80px;
    font-weight: bolder;
    cursor: pointer;
}

.bottom-prompt {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.bottom-prompt-link {
    margin-left: .15em;
    text-decoration: underline;
    cursor: pointer;
    color: $backgroundColorSecondary;
    font-weight: bold;
}

