.header-wrapper {
    background: white;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.header-inputs {
    display: flex;
    flex-direction: column;
}

