@import '../../../../sassStyles/main.scss';


.save-input {
    margin-top: 10px;
    width: 250px;
}

.save-roll-radio {
    cursor: pointer;
}

.save-roll-options-wrapper {
    @include flex(column, center, false);
    height: 100px;
}

.save-roll-option-line {
    padding: 3px;
}