@import '../../../../sassStyles/main.scss';


.save-input {
    width: 100%;
}

.save-roll-radio {
    cursor: pointer;
}

.save-roll-options-wrapper {
    @include flex(column, space-evenly, false);
    height: 8rem;
}

.save-roll-option-line {
    padding: 3px;
}

.save-roll-label {
    margin-left: .5rem;
}