@import '../../../sassStyles/main.scss';

.dropdown-list-wrapper {
    height: fit-content;
    width: 100vw;
    z-index: 0;
    background: $fontWhite;
    border-top: $borderDefault $accentColor;
    position: fixed;
    bottom: 0;
}

.dropdown-list {
    @include flex(column, center, true);
    width: 100%;
}

.dropdown-list-item {
    font-size: 1.5rem;
    width: 120vw;
    @include flex(row, center, true);
}

.dropdown-list-item:hover {
    cursor: pointer;
    background: $backgroundColorSecondary;

}