@import '../../../sassStyles/main.scss';

.header-wrapper {
    background: $backgroundColorBlank;
    @include flex(row, space-evenly, true);
    border: $borderDefault $accentColor;
    height: 10%;
    min-height: 125px;
    width: 100%;
    border-radius: $borderRadiusDefault;
    box-shadow: $boxShadowDefault;

}

.header-items {
    width: 100%;
    height: fit-content;
    @include flex(column, center, true);
}

.header-inputs {
    @include flex(column, center, false);
}