@import '../../../sassStyles/main.scss';

.header-wrapper {
    background: $backgroundColorBlank;
    @include flex(column, space-evenly, true);
    border: $borderDefault $accentColor;
    min-height: 8rem;
    border-radius: $borderRadiusDefault;
    box-shadow: $boxShadowDefault;

}

.header-items {
    width: 100%;
    height: fit-content;
    @include flex(column, center, true);
}

.header-inputs {
    @include flex(column, center, false);
}