@import '../../../sassStyles/main.scss';

.logo-wrapper {
    width: 15rem;
    @include flex(row, center, true);
}

.logo-img {
    color: $backgroundColorBlank;
}

.logo-text {
    color: $fontWhite;
    margin-left: 5%;
    font-family: $logoFont;
}

@media screen and (max-width:630px) {
    .logo-text {
        display: none;
    }
}