@import '../../../sassStyles/main.scss';

.logo-wrapper {
    margin-left: 20px;
    width: 220px;
    @include flex(row, center, true);
}

.logo-img {
    color: $backgroundColorBlank;
}

.logo-text {
    color: $fontWhite;
    margin-left: 5%;
    font-family: $logoFont;
}