@import '../../../sassStyles/main.scss';

.new-content {
    height: 50%;
    width: max-content;
    @include flex(column, space-evenly, true);
}

.new-input-row {
    @include flex(row, left, false);
    width: 95%;

}

.new-roll-radio {
    cursor: pointer;
    padding: .5rem;
}

.new-input {
    width: 2rem;
    margin-left: 10%;
}