@import '../../../sassStyles/main.scss';

.new-content {
    height: 40%;
}

.new-input-row {
    @include flex(row, left, false);
    width: 90%;
}

.new-roll-radio {
    cursor: pointer;
}

.new-roll-label {
    margin-left: 5%;
}

.new-input {
    width: 2rem;
    margin-left: 10%;
}