@import '../../../sassStyles/main.scss';

.new-content {
    height: 50%;
    width: 18rem;
    @include flex(column, space-evenly, true);

}

.new-input-row {
    @include flex(row, left, false);
    width: 100%;
    margin-left: 2rem;
}

.new-roll-radio {
    cursor: pointer;
    padding: .5rem;
}

.new-input {
    width: 2rem;
    margin-left: 5%;
}

.new-roll-label {
    margin-left: .5rem;
}