@import '../../../sassStyles/main.scss';

.popup-wrapper {
    position: fixed;
    margin: auto;
    background: white;
    width: 60%;
    width: 22rem;
    top: 20%;
    height: 25rem;
    border: $borderDefault $accentColor;
    @include flex(column, center, true);
    border-radius: $borderRadiusDefault;
    z-index: 2;
}

.exit-out {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.x:hover {
    color: $accentColor;
}

.popup-content {
    width: 90%;
    display: flex;
    @include flex(column, space-around, true);
}

.roll-options-row {
    @include flex(column, center, true);
    width: 100%;
}