@import '../../../sassStyles/main.scss';

.popup-background-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.popup-wrapper {
    position: relative;
    margin: auto;
    background: white;
    width: 60%;
    min-width: 550px;
    top: 150px;
    height: 400px;
    border: $borderDefault $accentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $borderRadiusDefault;
}

.exit-out {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.x:hover {
    color: $accentColor;
}

.popup-content {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.roll-options-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}