@import '../../../sassStyles/main.scss';

.popup-background-blur {
    width: 100%;
    min-height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.popup-wrapper {
    position: sticky;
    margin: auto;
    background: white;
    width: 60%;
    min-width: 550px;
    max-width: 600px;
    top: 25%;
    left: 15vw;
    height: 400px;
    border: $borderDefault $accentColor;
    @include flex(column, center, true);
    border-radius: $borderRadiusDefault;
}

.exit-out {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.x:hover {
    color: $accentColor;
}

.popup-content {
    width: 60%;
    display: flex;
    @include flex(column, space-around, true);
}

.roll-options-row {
    @include flex(column, center, true);
    width: 100%;
}