.dropdown-remove-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-remove-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
}

.dropdown-remove-icon:hover {
    cursor:pointer;
    background: rgb(183, 24, 24);
    color:white;
}
