@import '../../../sassStyles/variables.scss';

.menu-line-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.line-data-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.shot-menu-wrapper {
    height: 50px;
    width: 80%;
    background: $backgroundColorBlank;
    display: flex;
    flex-direction: row;
    border: $borderDefault $accentColor;
    border-radius: $borderRadiusDefaultMoreRound;
    box-shadow: $boxShadowDefault;
}

.line-button-wrapper {
    width: 20%;
    display: flex;
    justify-content: center;
}

.add-remove-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}