@import '../../../sassStyles/main.scss';

.menu-line-wrapper {
    @include flex(column, center, false);
    margin-top: 1rem;
    width: 98vw;
}

.line-data-wrapper {
    @include flex(row, center, false);
    margin-bottom: .5rem;
}

.shot-menu-wrapper {
    height: 3.5rem;
    width: 80%;
    background: $backgroundColorBlank;
    @include flex(row, center, false);
    border: $borderDefault $accentColor;
    border-radius: $borderRadiusDefaultMoreRound;
    box-shadow: $boxShadowDefault;
}

.line-button-wrapper {
    width: 20%;
    @include flex(row, center, true);

}

.add-remove-menu {
    width: 60%;
}

@media screen and (min-width: 660px) {
    .shot-menu-wrapper {
        width: 85%;
    }

    .line-button-wrapper {
        width: 15%;
    }

    .add-remove-menu {
        @include flex(row, space-between, false);
    }
}