$backgroundColor: rgb(255, 183, 0);
$backgroundColorSecondary: rgb(118, 109, 176);
$backgroundColorBlank: white;

$accentColor: rgb(179, 0, 0);
$accentColorGreen: green;
$accentColorGrey: rgb(127, 127, 128);
$accentColorSecondary: white;

$fontWhite: white;
$fontBlack: black;

$borderDefault: 3px solid;
$borderRadiusDefault: 1em;
$borderRadiusDefaultMoreRound: 2em;

$boxShadowDefault: 4px 4px 6px rgba(0, 0, 0, 0.3);
$boxShadowButton: 3px 3px 6px rgba(0, 0, 0, 0.3);