@import '../../../sassStyles/main.scss';

.menu-bar {
    width: 100%;
    z-index: 2;
    @include flex(row, space-between, true);
    height: 5rem;
    position: fixed;
    background: $backgroundColorSecondary;
    top: 0;
    border-bottom: $borderDefault $accentColor;
    min-width: 360px
}

.navbar-logo-wrapper {
    @include flex(row, left, true);
    width: 20%;
}

.navbar-links {
    width: 70%;
    @include flex(row, space-around, false);

}

.navbar-link {
    font-weight: bolder;
    color: $accentColorSecondary;
    cursor: pointer;
}

.navbar-link:hover {
    color: $accentColor;
}

@media screen and (min-width:420px) {

    .navbar-links {
        width: 70%
    }

    .navbar-logo-wrapper {
        width: 30%;
        justify-content: left;
    }

    .navbar-link {
        font-size: 1.25rem;
    }
}