@import '../../../sassStyles/main.scss';

.dropdown-wrapper {
    @include flex(row, space-around, false);
}

.dropdown-group {
    @include flex(row, left, false);
    margin: 10px;
}

.dropdown-type {
    font-weight: bolder;
    width: 80%;
}

.dropdown-result {
    margin-left: .2rem;
    width: 30px;
    cursor: pointer;
}

.dropdown-result:hover {
    color: $backgroundColorSecondary;
    font-weight: bolder;
}