@import '../../../sassStyles/main.scss';

.dropdown-wrapper {
    @include flex(row, space-evenly, false);
    width: 50%;
}

.dropdown-group {
    @include flex(row, left, false);
    margin: .5rem;
}

.dropdown-type {
    font-weight: bolder;
    width: fit-content;
    text-transform: capitalize;
}

.dropdown-result {
    margin-left: .2rem;
    width: fit-content;
    cursor: pointer;
}

.dropdown-result:hover {
    color: $backgroundColorSecondary;
    font-weight: bolder;
}