@import '../../../sassStyles/main.scss';

.delete-button {
    background: $accentColor;
    color: $fontWhite;
}

.delete-button:hover {
    background: $fontWhite;
    color: $accentColor;
    border: 2px solid black;
}