.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  
}

.app-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 900px;
  width: 400px;
  margin-top: 90px;
}

