@import '../../../sassStyles/main.scss';

.dropdown-wrapper {
    @include flex(row, space-around, true);
    width: 100%;

}

.dropdown-shot-number-wrapper {
    font-weight: bolder;
    width: 5%;
    margin-left: .5rem;
    @include flex(row, center, false);

}

.dropdown-settings-wrapper {
    @include flex(row, center, false);
    width: 95%;
}