.dropdown-wrapper {
    display: flex;
    justify-content: space-around;    
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dropdown-shot-number-wrapper {
    font-weight: bolder;
    width: 5%;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.dropdown-settings-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
} 