@import '../../../sassStyles/main.scss';

.button-wrapper {
    @include flex(row, center, true);
    width: fit-content;
}

.button-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    @include flex(row, center, true);

}