.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}
