@import '../../../sassStyles/main.scss';

.button-wrapper {
    @include flex(row, center, true);
}

.button-icon {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    cursor: pointer;
    @include flex(row, center, true);

}