@import '../../../sassStyles/main.scss';

.signup-content {
    height: 70%;
    @include flex(column, space-evenly, false);
}

.signup-input {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 16rem;
}