.roll-name-input {
    margin-top: 10px;
    width: 250px;
}

.save-roll {
    margin-top: 10px;
    width: 60px;
    font-weight: bolder;
    cursor: pointer;
}

.roll-name-input {
    margin-top: 10px;
    width: 250px;
}

.sign-up-button {
    margin-top: 10px;
    width: 80px;
    font-weight: bolder;
    cursor: pointer;
}

